.tree-page {
  display: flex;
  flex-direction: row;
}
.container-filters_tree {
  width: 25vw;
  display: flex;
  flex-direction: column;
  padding: 2vw;
}
.container-audio_and_snow {
  display: flex;
  flex-direction: row;
}
.audio {
  width: 2.5vw;
  height: 2.5vw;
  background: url('./../../assets/svg/audio.svg');
  background-size: contain;
  cursor: pointer;
}
.audio-active {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}
.snow {
  width: 2.5vw;
  height: 2.5vw;
  margin-left: 4vw;
  background: url('./../../assets/svg/snow.svg');
  background-size: contain;
  cursor: pointer;
}
.active-snow {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}
.fa-snowflake {
  color: #fff;
  position: absolute;
  top: -20px;
  animation: fall linear forwards;
}
@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}

.container-type_trees,
.container-background,
.container-btn-garland {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.title-type_trees,
.title-bg_trees,
.title-container-toys,
.title-decorated_trees,
.title-garland {
  color: white;
  font-size: 16px;
  margin: 3.5vh 0 1.5vh 0;
  text-transform: uppercase;
}
.tree {
  width: 7vw;
  height: 7vw;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  margin: 0.5vh 0.5vw 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.tree:nth-child(1) {
  background-image: url('./../../assets/tree/1.png');
}
.tree:nth-child(2) {
  background-image: url('./../../assets/tree/2.png');
}
.tree:nth-child(3) {
  background-image: url('./../../assets/tree/3.png');
}
.tree:nth-child(4) {
  background-image: url('./../../assets/tree/4.png');
}
.tree:nth-child(5) {
  background-image: url('./../../assets/tree/5.png');
}
.tree:nth-child(6) {
  background-image: url('./../../assets/tree/6.png');
}
.bg-tree {
  width: 5vw;
  height: 5vw;
  border-radius: 10px;
  margin: 0.5vh 0.5vw 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.bg-tree:nth-child(1) {
  background-image: url('./../../assets/bg/1.jpg');
}
.bg-tree:nth-child(2) {
  background-image: url('./../../assets/bg/2.jpg');
}
.bg-tree:nth-child(3) {
  background-image: url('./../../assets/bg/3.jpg');
}
.bg-tree:nth-child(4) {
  background-image: url('./../../assets/bg/4.jpg');
}
.bg-tree:nth-child(5) {
  background-image: url('./../../assets/bg/5.jpg');
}
.bg-tree:nth-child(6) {
  background-image: url('./../../assets/bg/6.jpg');
}
.bg-tree:nth-child(7) {
  background-image: url('./../../assets/bg/7.jpg');
}
.bg-tree:nth-child(8) {
  background-image: url('./../../assets/bg/8.jpg');
}
.btn-color {
  width: 1.3vw;
  height: 1.3vw;
  margin-right: 2vw;
  border-radius: 50%;
  cursor: pointer;
}
.btn-color:nth-child(1) {
  background: linear-gradient(to right bottom, rgb(255, 0, 0), rgb(255, 255, 0), rgb(0, 255, 0));
  box-shadow: 0px 3px 24px 5px rgba(255, 255, 255, 0.7);
}
.btn-color:nth-child(2) {
  background-color: rgba(255, 0, 0, 0.7);
  box-shadow: 0px 3px 24px 5px rgb(255, 0, 0);
}
.btn-color:nth-child(3) {
  background-color: rgba(0, 0, 255, 0.7);
  box-shadow: 0px 3px 24px 5px rgb(0, 0, 255);
}
.btn-color:nth-child(4) {
  background-color: rgba(255, 255, 0, 0.7);
  box-shadow: 0px 3px 24px 5px rgb(255, 255, 0);
}
.btn-color:nth-child(5) {
  background-color: rgba(0, 255, 0, 0.7);
  box-shadow: 0px 3px 24px 5px rgb(0, 255, 0);
}
.btn-on_garland {
  position: relative;
  top: -2vh;
  left: 18vw;
  width: 2vw;
  height: 2vw;
  border-radius: 15%;
  border: 1px solid #278D9F;
  margin-left: 20px;
  margin-top: -5px;
  background-color: rgba(31, 112, 127, 0.4);
  transition: 0.3s;
  cursor: pointer;
}
.btn-on_garland:hover {
  background-color: #278D9F;
}
.btn-on_garland.active {
  background-color: #278D9F;
}
.btn-on_garland.active::after {
  content: '';
  display: block;
  position: relative;
  bottom: 1.8vh;
  left: 0.5vw;
  width: 0.7vw;
  height: 0.7vw;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
.btn-on_garland::before {
  content: 'Вкл';
  display: block;
  position: relative;
  bottom: -0.6vh;
  left: -3vw;
  font-size: 1.2vw;
  color: white;
}
.btn-on_garland.active::before {
  content: 'Выкл';
}
.container-garland_on_tree {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10vh;
  left: 28vw;
  width: 39vw;
  height: 85vh;
  pointer-events: none;
  z-index: 90;
  overflow: hidden;
}
.lightrope {
  white-space: nowrap;
  position: absolute;
  top: 8vh;
  z-index: 10;
  pointer-events: none;
  border-radius: 50%;
  width: 30vw;
  height: 6.2vw;
  row-gap: 20px;
}
.lightrope li {
  position: absolute;
  top: 50%;
  left: 50%;
  list-style: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation-name: flash-3;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.lightrope li:nth-child(2n+1) {
  animation-duration: 0.4s;
}
.lightrope li:nth-child(4n+2) {
  animation-duration: 1.1s;
}
.lightrope li:nth-child(3n+1) {
  animation-duration: 1.4s;
}
.lightrope li.multicolor:nth-child(1n + 1) {
  animation-name: flash-2;
}
.lightrope li:nth-child(2n + 2).multicolor {
  animation-name: flash-3;
}
.lightrope li:nth-child(3n + 3).multicolor {
  animation-name: flash-4;
}
.lightrope li:nth-child(4n + 4).multicolor {
  animation-name: flash-5;
}
.lightrope li.red {
  animation-name: flash-2;
}
.lightrope li.blue {
  animation-name: flash-3;
}
.lightrope li.yellow {
  animation-name: flash-4;
}
.lightrope li.green {
  animation-name: flash-5;
}

@keyframes flash-2 {
  0%, 100% {
    background: rgb(255, 0, 0);
    box-shadow: 0px 4.66667px 24px 5px rgb(255, 0, 0);
  }
  50% {
    background: rgba(255, 0, 0, 0.5);
    box-shadow: 0px 4.66667px 24px 5px rgba(255, 0, 0, 0.2);
  }
}
@keyframes flash-3 {
  0%, 100% {
    background: rgb(0, 0, 255);
    box-shadow: 0px 4.66667px 24px 5px rgb(0, 0, 255);
  }
  50% {
    background: rgba(0, 0, 255, 0.5);
    box-shadow: 0px 4.66667px 24px 5px rgba(0, 0, 255, 0.2);
  }
}
@keyframes flash-4 {
  0%, 100% {
    background: rgb(255, 255, 0);
    box-shadow: 0px 4.66667px 24px 5px rgb(255, 255, 0);
  }
  50% {
    background: rgba(255, 255, 0, 0.5);
    box-shadow: 0px 4.66667px 24px 5px rgba(255, 255, 0, 0.2);
  }
}
@keyframes flash-5 {
  0%, 100% {
    background: rgb(0, 255, 0);
    box-shadow: 0px 4.66667px 24px 5px rgb(0, 255, 0);
  }
  50% {
    background: rgba(0, 255, 0, 0.5);
    box-shadow: 0px 4.66667px 24px 5px rgba(0, 255, 0, 0.2);
  }
}
.container-tree {
  width: 40vw;
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./../../assets/bg/1.jpg');
}
.container-toys_for_tree {
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
}
.main-tree {
  position: absolute;
  top: 22vh;
  left: 31vw;
  width: 33vw;
  height: 70vh;
}
.container-elect_toys {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.toy_on_tree {
  height: 4.5vw;
  width: 4.5vw;
  margin: 0 10px 10px 0;
  border-radius: 10px;
  background-color: #aaa;
  cursor: pointer;
  position: relative;
}
.img-toy_on_tree {
  height: 3.5vw;
  width: 3.5vw;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.count-toy_on_tree {
  width: 1.8vw;
  height: 1.8vw;
  position: absolute;
  top: 40%;
  left: 60%;
  border-radius: 50%;
  background-color: #278D9F;
  color: white;
  text-align: center;
  line-height: 1.8vw;
}
.container-decorated_trees {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.container-decorated_trees .tree {
  min-width: 7vw;
  min-height: 7vw;
}
